# [作業目標]

1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```


2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

# 作業

### 1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```

### 2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

In [2]:
# 記得先 Import 正確的套件
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df

       col1      col2      col3
0  2.120818  1.253453  0.301527
1  0.899904  0.813498 -0.177897
2  0.966105  0.773855  1.776710
3  1.786539 -1.516698 -0.892063
4  0.536022  1.534821 -0.365464
5 -0.512035  1.124581  0.064119

In [28]:
print(df.head(3))
print(df[0:3])

print(df[1::2])

print(df[['col2', 'col3']])
print(df.iloc[:, -2:])

print(df[['col1', 'col3']])
print(df.iloc[:, 0::2])

       col1      col2      col3
0  2.120818  1.253453  0.301527
1  0.899904  0.813498 -0.177897
2  0.966105  0.773855  1.776710
       col1      col2      col3
0  2.120818  1.253453  0.301527
1  0.899904  0.813498 -0.177897
2  0.966105  0.773855  1.776710
       col1      col2      col3
1  0.899904  0.813498 -0.177897
3  1.786539 -1.516698 -0.892063
5 -0.512035  1.124581  0.064119
       col2      col3
0  1.253453  0.301527
1  0.813498 -0.177897
2  0.773855  1.776710
3 -1.516698 -0.892063
4  1.534821 -0.365464
5  1.124581  0.064119
       col2      col3
0  1.253453  0.301527
1  0.813498 -0.177897
2  0.773855  1.776710
3 -1.516698 -0.892063
4  1.534821 -0.365464
5  1.124581  0.064119
       col1      col3
0  2.120818  0.301527
1  0.899904 -0.177897
2  0.966105  1.776710
3  1.786539 -0.892063
4  0.536022 -0.365464
5 -0.512035  0.064119
       col1      col3
0  2.120818  0.301527
1  0.899904 -0.177897
2  0.966105  1.776710
3  1.786539 -0.892063
4  0.536022 -0.365464
5 -0.512035  0.064119

### 3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

In [5]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
df

     0   1   2   3
0   24  32  33  17
1   37  32  26  15
2   15  27  21  36
3   34  30  27  24
4   34  20  38  27
5   16  39  28  16
6   39  35  38  24
7   35  19  37  12
8   16  17  37  32
9   38  38  38  17
10  10  21  15  39
11  25  35  27  22
12  33  20  15  37
13  27  29  13  19
14  32  15  13  25

In [33]:
# 參考解答

# - 1. filtered by first column > 20?

df.loc[df[0] > 20]
df[df[0] > 20]

# - 2. filtered by first column + second column > 50

df[df[0] + df[1] > 50]
df.loc[df[0] + df[1] > 50]

# - 3. filtered by first column < 30 or second column > 30

df[np.logical_or(df[0] < 30, df[1] > 30)]
df[(df[0] < 30) | (df[1] > 30)]

# - 4. filtered by total sum of row > 100

df[df[0] + df[1] + df[2] + df[3] > 100]
df[df.sum(axis=1) > 100]

KeyError: 0