# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [1]:
# 記得先 Import 正確的套件

import numpy as np
import pandas as pd

In [3]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [18]:
print(df.groupby(['animal'])['age'].mean())
print(df.sort_values(by=['age', 'visits'], ascending=[True, False]))
print(df['priority'].apply(lambda x: 'True' if x=='yes' else 'False'))

animal
cat      2.5
dog      5.0
snake    2.5
Name: age, dtype: float64
  animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes
a     True
b     True
c    False
d     True
e    False
f    False
g    False
h     True
i    False
j    False
Name: priority, dtype: object

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [19]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.245178  0.996696  0.786813
1  0.559645  0.119021  0.065215
2  0.968798  0.817919  0.381694
3  0.496864  0.647798  0.083579
4  0.362846  0.954974  0.140144

In [22]:
print(df.mean())

0    0.526666
1    0.707282
2    0.291489
dtype: float64

In [21]:
print(df.mean(axis=1))

0    0.676229
1    0.247961
2    0.722804
3    0.409414
4    0.485988
dtype: float64

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [33]:
df

          0         1         2
0  0.763566  0.846747  0.885887
1  0.782180  0.006052  0.844430
2  0.547830  0.603736  0.106965
3  0.763000  0.586530  0.882552
4  0.311204  0.609405  0.915406

In [24]:
print(df.sum(axis=1).min())

0.7438817151998074

In [26]:
print(df.sum().min())

1.4574449094723367